html{
	font-size: 10px;
	font-family: 'Space Grotesk', sans-serif;
}

a{
	text-decoration: none;
	color: white;
}

.wrapper{
	background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
	padding: 100px ;
}

.form{
	max-width: 1000px;
	height: 667px;
	margin: 0 auto;
	background: white;
	display: flex;
}

.form-inform {
	width: 54%;
	background: url(../img/snake.png) no-repeat;

}

.form-description {
	width: 46%;
	background: linear-gradient(160.42deg, #4E6A7A 0%, #214159 100%);
	box-shadow: 0px 0px 10px 9px #4E7577;
	/* box-shadow: 0px 0px 10px 6px #4E7577; */
	color: #FFFFFF;
	padding: 5px;
}

.nav {
	display: flex;
	justify-content: end;
}


.nav1{
	display: none;
}

.nav-item {
	display: inline;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.4rem;
	text-align: center;
	margin: 8px 12px;
}

.nav-item a:hover{
	color: #6594b1;
	font-size: 1.7rem;
	transition: 300ms;
}

.slogan {
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 6.0rem;
	color: #FFFFFF;
	padding: 230px 40px;
	text-shadow: 3px 2px 1px rgb(49 61 65 / 67%);
}

.slogan span {
font-weight: 700;
font-size: 1.6rem;
line-height: 2.4rem;
color: #FFFFFF;
}

.logo{
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 2.4rem;
	background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	margin: 12px 0 0 32px;
} 

.logo:hover{
	background: linear-gradient(93.38deg, #7eacb1 -3.47%, #567275 35.61%, #2D4F61 84.29%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	transition: 300ms;
}

.title{
	font-weight: 700;
	font-size: 2.0rem;
	line-height: 3.6rem;
	text-align: center;
	margin-top: 69px;
}

.form-content{
	max-width: 353px;
	margin: 0 auto;
}

input{
	display: block;
	width: 100%;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	padding: 5px 0 5px 8px;
}

label{
	font-size: 1.6rem;
	line-height: 2.4rem;
}

.form-page p {
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-page span {
	display: inline-block;
	font-size: 1rem;
	line-height: 1.6rem;
	color: #A8A8A8;
}

.option{
	font-size: 1.2rem;
	line-height: 1.6rem;
	color: #A8A8A8;
}

.btn{
	margin-top: 94px;
	margin-bottom: 12px;
	width: auto;
	display: inline-block;
	background: #27485D;
	border: 1px solid #284A5E;
	box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
	border-radius: 4px;
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: #FFFFFF;
	padding: 4px 150px;
	cursor: pointer;
}

.btn:hover{
	background: #6b8392;
	transition: 300ms;
}

.subtitle{
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: #C4C4C4;
	text-align: center;
}

.subtitle-link{
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.4rem;
	text-decoration-line: underline;
	color: #476D73;
}

.subtitle-link:hover{
	color: #9aa4a5;
	transition: 300ms;
}


	@media only screen 
	and (min-device-width: 300px) 
	and (max-device-width: 1300px) 
	and (-webkit-min-device-pixel-ratio: 1.5) 
	and (orientation: portrait) {

		.form-description{
			display: none;
		}

		.form-inform{
			width: 100%;
		}

		.wrapper{
			display: flex;
			justify-content: center;
			padding: 0;
			background: none;
		}

		.form-content{
			width: 310px;;
		}

		.btn{
			padding: 8px 125px;
		}

		.title{
			display: inline-block;
		}

		.nav{
			display: none;
		}

		.nav1{
			display: flex;
			font-weight: 700;
			font-size: 1.4rem;
			line-height: 2.4rem;
			color: #24445B;
			margin-right: 32px;
		}

		.nav1-item a {
			font-weight: 700;
			font-size: 1.5rem;
			line-height: 2.4rem;
			color: #24445B;
			margin-right: 5px;
		}

		.adaptive{
			display: flex;
			justify-content: space-between;
			align-items: center;
			
}

	} 

